
#map-wrapper {
    position: relative;
    width:auto;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#MRTmap{
    margin-top: 100px;
    height: 90%;
    width: auto;
    }